$activeColor : #42ab9e;

.animation {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sports {
    width: 18%;

    &-list {
        padding: 20px;
        margin-top: 0;
        background-color: #1e1e1e;
        height: 100%;
        min-height: calc( 100vh - 40px );

        li {
            list-style: none;
        }
    }

    ul ul {
        display: none;
        padding-left: 10px;
        @extend .animation;
    }

    p {
        color: #dcdcdc;
        cursor: pointer;
        margin-bottom: 5px;
        @extend .animation;

        span.title {
            width: 80%;
            display: inline-block;
        }

        &:hover,
        &.active {
            color: $activeColor;
        }

        &.active {
            &+ul {
                display: block;
            }
        }
    }
}

.matches {
    width: 75%;
    margin-right: 5%;
    padding-top: 20px;
}