<div class="container">

    <div class="pull-left sports">
        
        <ul class="sports-list" *ngIf="data.length > 0">
            
            <li *ngFor="let sport of data | sortNumber">
                
                <p  class="single-item"
                    (click)="changeActiveIndex(sport.id,'activeSport')"             
                    [class.active]="activeSport==sport.id">

                    <span class="title">{{sport.name}}</span>
                    <span class="count pull-right">( {{ sport.total }} )</span>
                </p>

                <ul *ngIf="sport.countries.length > 0">
                    
                    <li *ngFor="let country of sport.countries | sortName">

                        <p  class="single-item"
                            (click)="changeActiveIndex(country.id,'activeCountry')"             
                            [class.active]="activeCountry==country.id">

                            <span class="title">{{country.name}}</span>
                            <span class="count pull-right">( {{ country.total }} )</span>
                        </p>

                        <ul *ngIf="country.leagues.length > 0">
                    
                            <li *ngFor="let league  of country.leagues | sortName">
                                
                                <p  class="single-item"
                                    (click)="changeActiveIndex(league.id,'activeLeague');getData(league.id)"                       
                                    [class.active]="activeLeague==league.id">

                                    <span class="title">{{league.name}}</span>
                                    <span class="count pull-right">( {{ league.total }} )</span>
                                </p>

                            </li>

                        </ul>

                    </li>

                </ul>

            </li>

        </ul>

    </div>

    <div class="pull-right  matches">
        
        <div class="matches-list">

            <matches-list [activeLeagueID]='activeLeagueID'></matches-list>

        </div>

    </div>

    <div class="clearfix"></div>

</div>
