<div class="matches-header">
    
    <div class="odds">
        <div class="odd">
            Date
        </div>
    </div>

    <div class="odds">
        <div class="odd">
            Pair
        </div>
    </div>
    
    <div class="odds" *ngFor="let odds of layout | sortNumberAsc"
                      [ngClass]='[odds.index, "odds"]'>
        
        <div class="odd-container" *ngIf="odds.odds.length > 0">
            
            <div class="odd" *ngFor="let odd of odds.odds | sortNumberAsc">
                
                {{ odd.name }}

            </div>

        </div>

    </div>

</div>

<div class="matches-result">
    
   <div *ngIf="matches.length > 0">
       
       <div class="single-match fadeInDown" *ngFor="let match of matches">
           
            <div class="odds">
                <div class="odd">
                    
                    {{ match.sd | date: 'MM-dd HH:mm' }}

                </div>
            </div>

            <div class="odds">
                <div class="odd">
                    {{ match.h }} - {{ match.a }}
                </div>
            </div>
            
            <div class="odds" *ngFor="let odds of layout | sortNumberAsc">
                
                <div class="matches-odds" *ngIf="match.odds[odds.index]">
                    
                   <div class="odd" *ngFor="let odd of match.odds[odds.index] | sortOdds:odds.odds">
                       
                       {{ odd.value }}

                   </div>

                </div>

            </div>

       </div>

   </div>

   <div class="not-found fadeInDown" *ngIf="matches.length == 0">
       
       Choose one league or there are no games in the chosen league

   </div>

</div>