.odd-container,
.single-match,
.matches-header {
    display: flex;

    .odd,
    .odds {
        flex: 2;
    }
}

.matches-odds {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.single-match,
.matches-header {
    border: 1px solid #ccc;

    .odds {
        text-align: center;
        border-right: 1px solid #292929;
        
        &:nth-child(2) {
            flex: 5;
        }
        
        &:nth-child(4),
        &:nth-child(3) {
            flex: 3;
        }

        &:last-child {
            border-right: 0;
        }

        .odd {
            border-right: 1px solid #ccc;
            padding: 5px 0px;

            &:last-child {
                border-right: 0;
            }
        }
    }
}

.not-found {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #a20404;
}