body,
ul,
div,p {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f7f7f7;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    display: table;
    clear: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.3s;
    // -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;

    -moz-animation-duration: 0.3s;
    // -moz-animation-delay: 2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;

    -o-animation-duration: 0.3s;
    // -o-animation-delay: 2s;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;

    animation-duration: 0.3s;
    // animation-delay: 2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(60px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}